/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.showcase-media-row {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.showcase-media-row-path {
    width: 80%;
}

.showcase-media-row-type {
    width: 15%;
    margin-left: 10px;
}

.showcase-media-row-urlLink {
    width: 20%;
    margin-left: 10px;
}
